<!-- src/components/WeatherCard.astro -->
---
const { title, value } = Astro.props;
---
<div class="bg-white p-6 rounded-lg shadow-md">
	<h3 class="text-3xl font-bold">{title}</h3>
	<p class="text-xl font-bold text-blue-600">{value}</p>
</div>