---
import Layout from "../layouts/Layout.astro";
import WeatherCard from "../components/components.astro";

const title = "Weather App";
---

<Layout {title}>
	<section class="text-center">
	  <h2 class="text-3xl font-semibold">Summary</h2>
	  <p id="location" class="mt-2 text-lg">Loading...</p>
  
	  <!-- Módulos del clima -->
	  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
		<WeatherCard title="Temperature" value="Loading..." />
		<WeatherCard title="Pressure" value="Loading..." />
		<WeatherCard title="Humidity" value="Loading..." />
		<WeatherCard title="Air Quality" value="Loading..." />
		<WeatherCard title="Feels Like" value="Loading..." />
		<WeatherCard title="UV Index" value="Loading..." />
		<WeatherCard title="Wind" value="Loading..." />
		<WeatherCard title="Sunset" value="Loading..." />
		<WeatherCard title="Precipitation" value="Loading..." />
		<WeatherCard title="Visibility" value="Loading..." />
	  </div>

	</section>
  </Layout>