---
import Layout from "../layouts/Layout.astro";
import Location from "../components/Location.astro";

const title = "Weather App";
---

<Layout {title}>
	<section class="text-center">
	  <h2 class="text-3xl font-semibold">Summary</h2>
	  <Location />
	</section>
  </Layout>